<div style="display: flex; justify-content: center; align-items: center; height: 600px;">
  <form>
    <p-card header="Cadastro De Metas" [style]="{width:'600px', height: '300px'}">

      <p-floatLabel>
        <textarea pInputTextarea id="descricao" rows="3"></textarea>
        <label for="descricao">Descrição</label>
      </p-floatLabel>

      <p-floatLabel>
        <input pInputText id="valor" type="number" />
        <label for="valor">Valor</label>
      </p-floatLabel>

      <div style="margin-top: 20px;">
        <p-button label="Salvar" />
      </div>

    </p-card>
    </form>
</div >
