<div>
  <p-table [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="padding-right: 30px;">Pessoa</th>
        <th style="padding-left: 30px;">Nome do Grupo</th>
        <th style="padding-right: 170px;">Descrição</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-grupo>
      <tr>
        <td>{{ grupo.pessoa }}</td>
        <td>{{ grupo.nomeGrupo }}</td>
        <td>{{ grupo.descricao }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div style="margin-top: 775px; margin-left: 1600px">
  <p-button label="Salvar" />
</div>

<div style="margin-top: -45px; margin-left: 1800px">
  <p-button label="Editar" />
</div>

<div style="margin-top: -44px; margin-left: 1698px">
  <p-button label="Excluir" />
</div>
